<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.hiot_cloud.core.autogenerator.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huatec.hiot_cloud.core.autogenerator.entity.Device">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="dev_type" property="devType"/>
        <result column="user_id" property="userId"/>
        <result column="mac" property="mac"/>
        <result column="status" property="status"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="deviceimg" property="deviceimg"/>
        <result column="description" property="description"/>
    </resultMap>

</mapper>
