<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.hiot_cloud.core.autogenerator.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        <id column="id" property="id"/>
        <result column="password" property="password"/>
        <result column="lastlogin" property="lastlogin"/>
        <result column="username" property="username"/>
        <result column="email" property="email"/>
        <result column="is_active" property="isActive"/>
        <result column="date_joined" property="dateJoined"/>
        <result column="is_superuser" property="isSuperuser"/>
        <result column="is_staff" property="isStaff"/>
        <result column="is_developer" property="isDeveloper"/>
        <result column="img" property="img"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <!--查询所有用户 -->
    <select id="findAll" resultType="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        select id, password, lastlogin, username, email, is_active as isActive, date_joined as dateJoined,
          is_superuser as isSuperuser,
          is_staff as isStaff, is_developer as isDeveloper, img, phone from user
    </select>

    <!--注册用户信息保存-->
    <insert id="saveForRegister" parameterType="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        insert into user (id, password, lastlogin, username, email, is_active, date_joined, is_superuser,
          is_staff, is_developer, img, phone)
        values (#{id}, #{password}, #{lastlogin}, #{username}, #{email}, #{isActive}, #{dateJoined}, #{isSuperuser},
          #{isStaff}, #{isDeveloper}, #{img}, #{phone})
    </insert>

    <!--修改密码-->
    <update id="updatePassword" parameterType="String">
        update user set password = #{password} where id = #{id}
    </update>

    <!--根据用户id删除用户信息-->
    <delete id="deleteById" parameterType="String">
        delete from user where id = #{id}
    </delete>

    <!--修改邮箱地址-->
    <update id="updateEmail" parameterType="String">
        update user set email = #{email} where id = #{id}
    </update>

    <!--修改邮箱地址-->
    <update id="updateEmail2" parameterType="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        update user set email = #{email} where id = #{id}
    </update>

    <!--修改邮箱地址-->
    <update id="updateEmail3" parameterType="Map">
        update user set email = #{email} where id = #{id}
    </update>

    <!--修改头像-->
    <update id="updateImg" parameterType="user">
        update user set img = #{img} where id = #{id}
    </update>

    <!--登录用户更新lastlogin时间-->
    <update id="updateLastlogin" parameterType="user">
        update user set lastlogin = #{lastlogin} where id =#{id}
    </update>

    <!--登录用户信息查询-->
    <select id="findForLogin" parameterType="String" resultType="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        select id, password, lastlogin, username, email, is_active as isActive, date_joined as dateJoined,
          is_superuser as isSuperuser,
          is_staff as isStaff, is_developer as isDeveloper, img, phone from user
          where username = #{username} and password = #{password}
    </select>

    <!--根据用户ID查询用户信息-->
    <select id="findById" parameterType="String" resultType="com.huatec.hiot_cloud.core.autogenerator.entity.User">
        select id, password, lastlogin, username, email, is_active as isActive, date_joined as dateJoined,
          is_superuser as isSuperuser,
          is_staff as isStaff, is_developer as isDeveloper, img, phone from user
        where id = #{id}
    </select>


    <!--登录验证，查询用户名是否存在-->
    <select id="findUsername" parameterType="String" resultType="String">
        select id from user where username = #{username}
    </select>

    <!--登录验证，查询邮箱是否存在-->
    <select id="findEmail" parameterType="String" resultType="String">
        select id from user where email = #{email}
    </select>

</mapper>
